html,
body {
    @include font-family;
    font-size: 16px;
    line-height: 1;
    color: #333;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}