.head {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 74px 0;
    background-color: #424242;

    &-form {
        margin-left: 97px;
    }

    &-action {
        margin-left: 53px;
    }
}

.btn {
    display: block;
    padding: 48px 24px;
    font-size: 24px;
    line-height: 1;
    color: #424242;
    border-radius: 50%;
    background-color: #FFD366;
    transition: .2s;

    &:hover {
        box-shadow: 0 1px 6px 3px rgba(255, 196, 50, 0.64);
    }

    &:active {
        box-shadow: none;
        background-color: #DEA821;
    }
}

.form {
    &-title {
        font-size: 18px;
        color: #FFD366;
    }

    &-input {
        margin-top: 4px;
    }

    &+& {
        margin-top: 23px;
    }
}

.textBox {
    box-sizing: border-box;
    width: 250px;
    padding: 2px 16px;
    font-size: 24px;
    line-height: 1;
    color: #fff;
    border: 2px solid #FFD366;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.18);
    outline: none;

    &::placeholder {
        color: rgba(255, 255, 255, 0.50);
    }
}