html,
body {
  font-family: "Microsoft JhengHei", "PingFangTC-Regular", Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 74px 0;
  background-color: #424242;
}
.head-form {
  margin-left: 97px;
}
.head-action {
  margin-left: 53px;
}

.btn {
  display: block;
  padding: 48px 24px;
  font-size: 24px;
  line-height: 1;
  color: #424242;
  border-radius: 50%;
  background-color: #FFD366;
  transition: 0.2s;
}
.btn:hover {
  box-shadow: 0 1px 6px 3px rgba(255, 196, 50, 0.64);
}
.btn:active {
  box-shadow: none;
  background-color: #DEA821;
}

.form-title {
  font-size: 18px;
  color: #FFD366;
}
.form-input {
  margin-top: 4px;
}
.form + .form {
  margin-top: 23px;
}

.textBox {
  box-sizing: border-box;
  width: 250px;
  padding: 2px 16px;
  font-size: 24px;
  line-height: 1;
  color: #fff;
  border: 2px solid #FFD366;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.18);
  outline: none;
}
.textBox::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.footer {
  padding: 18px;
  line-height: 0;
  text-align: center;
  background-color: #FFD366;
}